body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f8ff;
    margin:0;
    color:#333;
}

.titulo-centralizado{
    background:#1E88E5;
    color:white;
    text-align:center;
    padding:20px;
    margin:0;
}

h2,h3{
    color:#1565C0;
    text-align:center;
    margin-top:40px;
}

p{
    width:90%;
    max-width:900px;
    margin:20px auto;
    line-height:1.8;
    text-align:justify;
}

.banner{
    width:100%;
    max-height:350px;
    object-fit:cover;
}

img{
    display:block;
    width:500px;
    max-width:90%;
    margin:20px auto;
    border-radius:12px;
    box-shadow:0 0 12px rgba(0,0,0,.2);
}
